/* #F7F4F3 
#5B2333
434242
*/
.main{
    background-color:#F7F4F3 ;
}
.header{
    background-color: #5B2333;
    color:#F7F4F3;
    height: 60px;
    margin: 1px;
    text-align: center;
    padding: 0px,40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}
.primary-btn,
.primary-btn:focus {
    background: #5B2333;
    color: white;
    border: none;
    box-shadow: 2px 2px 4px rgb(136, 132, 132);
    border-radius: 15px;
    padding: 5px;
    width: 300px;
}
.primary-btn:hover {
    /* transition: all 0.3s ease-in-out; */
    transform: scale(1.1);
    background: #5B2333;
    color: white;
    border: none;
}
.question-card{
    background-color:rgb(247, 247, 247);
    border-radius: 15px;
    border: none ;
    box-shadow: 2px 2px 4px rgb(136, 132, 132);
    width: 80%;
    height: 400px
   
}
.question{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #5B2333;
    padding: 20px;
    text-align: center;
    
}